In [ ]:
pip install walkscore-api

In [ ]:
pip install pandas

In [50]:
import pandas as pd
import json
import requests
from urllib.request import Request, urlopen
import urllib

In [51]:
from walkscore import WalkScoreAPI

In [53]:
df = pd.read_csv("address.csv")

In [56]:
df

                                        address
0  1600 Amphitheatre Parkway, Mountain View, CA
1                  9301 Crandon Lane, Tampa, FL

In [59]:
# create a working example. I like using a copy of the source data in case we make mistakes
rest_api_df = df.copy()
GOOGLE_API_KEY = 'AIzaSyCXdPZrT_8tOYxI74CB2waU-sD6Ogi9Fbw' 

def extract_lat_long_via_address(address_or_zipcode):
    lat, lng = None, None
    api_key = GOOGLE_API_KEY
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    endpoint = f"{base_url}?address={address_or_zipcode}&key={api_key}"
    # see how our endpoint includes our API key? Yes this is yet another reason to restrict the key
    r = requests.get(endpoint)
    if r.status_code not in range(200, 299):
        return None, None
    try:
        '''
        This try block incase any of our inputs are invalid. This is done instead
        of actually writing out handlers for all kinds of responses.
        '''
        results = r.json()['results'][0]
        lat = results['geometry']['location']['lat']
        lng = results['geometry']['location']['lng']
    except:
        pass
    return lat, lng
    
def enrich_with_geocoding_api(row):
    column_name = 'address'
    address_value = row[column_name]
    address_lat, address_lng = extract_lat_long_via_address(address_value)
    row['lat'] = address_lat
    row['lng'] = address_lng
    return row

address_lat_long = rest_api_df.apply(enrich_with_geocoding_api, axis=1) # axis=1 is important to use the row itself

In [60]:
api_key = '87ddf4134acc9969b0b8c3b29eafd1d8'

walkscore_api = WalkScoreAPI(api_key = api_key)

In [61]:
address_lat_long

                                        address        lat         lng
0  1600 Amphitheatre Parkway, Mountain View, CA  37.422388 -122.084188
1                  9301 Crandon Lane, Tampa, FL  28.033498  -82.586346

In [62]:
df = pd.DataFrame()
for i in range(len(address_lat_long)):
  address = ''
  lat = address_lat_long.loc[i, 'lat']
  lng = address_lat_long.loc[i, 'lng']
  result = walkscore_api.get_score(latitude = lat , longitude = lng , address = address)
  # the WalkScore for the location
  result.walk_score

  # the TransitScore for the location
  result.transit_score

  # the BikeScore for the location
  result.bike_score
  df = df.append([result.walk_score,result.transit_score,result.bike_score])

In [63]:
df

    0
0  28
1  31
2  74
0  30
1  41
2  52